.form {

    &__group:not(:last-child) {
        margin-bottom: 3rem;

    }

    &__input {
        display: block;
        width: 70%;
        padding: 1rem 1.5rem;
        background-color: rgba($color-white, .5);
        border: none;
        font-family: inherit;
        color: inherit;
        font-size: $default-font-size;
        border-bottom: 3px solid transparent;
        transition: all .7s;

        &:focus {
            outline: none;
            border-bottom: 3px solid $color-primary;
            box-shadow: 0 1rem 2.5rem rgba($color-black, .2);
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        display: block;
        margin-left: 1.5rem;
        margin-top: .5rem;
        transition: all .4s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3.5rem);
    }

    &__radio-group {
        display: inline-block;
        width: 49%;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button {
        width: 3rem;
        height: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.5rem;
        left: 0;

        &::after {
          content: "";  
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $color-primary;
          opacity: 0;
          transition: all .1s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}