.popup {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 250;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include absCenter;
        width: 70%;
        // height: 70%;
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 0 1rem 4rem rgba($color-black, .15);
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.1);
        transition: all .4s .2s;
    }

    &__left {
        width: 30%;
        display: table-cell;
    }

    &__right {
        width: 70%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;
        
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    //open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            position: absolute;
            display: inline-block;
            line-height: 1;
            top: 2rem;
            right: 2rem;
            color: $color-grey-dark;
            font-size: 3rem;
            text-decoration: none;
            transition: all .1s;
        }

        &:hover {
            color: $color-primary;
        }
    }
}