.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
        ), 
        url("../img/hero.jpg");
    background-size: cover;

    /* starting position of image - where image wont be cropped when resizing */
    background-position: top;

    /* from top left clockwise */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
       position: absolute;
       top: 4rem;
       left: 4rem;
    }

    &__logo {
       /* one is enough */
       height: 3.5rem;
    }
   
    &__text-box {
       position: absolute;
       top: 40%;
       left: 50%;
   
       /* first - to left/right(negative), second - to bottom/top(negative) */
       /* width and height percentages of the box(parent) */
       transform: translate(-50%, -50%);     
       text-align: center;
    }
}